<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/base.css">
    <script src="js/base.js"></script>
    <title>Page not Found</title>
    <style type="text/css">
        /*主内容区css*/
        #content {
            padding: 40px 20px;
            background-color: white;
            width: 80%;
            min-height: calc(100vh - 200px);
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <div class="sticky">
        <header>
            <nav>
                <ul class="banner">
                    <li><img src="img/logo.svg" class="logo"></li>
                    <li class="bannerTitle"><a href="subject.html">主题管理</a>
                    </li>
                    <li class="bannerTitle"><a href="articles.html">文章管理</a></li>
                    <li class="bannerTitle"><a href="navigation.html">导航管理</a></li>
                    <ul class="innerBanner">
                        <li>朱海保</li>
                        <li><a href="login.html">退出</a></li>
                    </ul>
                </ul>
            </nav>
        </header>
    </div>
    <div id='content'>
        <div class="error-name">Page not Found</div>
        <div class="error-code">404</div>
    </div>
</body>

</html>